
* , *::before, *::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    color: #777;
    text-transform: lowercase;
    font-size: 20px;
    line-height: 30px;
}

body {

    text-rendering: optimizeLegibility;
    margin: 10px auto 200px;
    width: 700px;
    font-family: serif;
    font-size: 18px;
    line-height: 24px;
    background: #fcfcfc;
    color: black;

}

/* nav { 
    background-color: #54aab6b6;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
} */

header > nav { 
    
    display: block;
    float: right;
    font-size: 18px;
    line-height: 30px;

}

nav a { 

    /* display: inline-block; */
    /* position: relative; */
    /* text-decoration: none; */
    /* font-size: 1em; */
    /* font-weight: bold; */
    color: #d10505;
    /* letter-spacing: 0.05em; */

}

nav a:hover { 
    
    color: rgb(6, 20, 155);
    
}

main { 

    text-rendering: optimizeLegibility;
    margin: 40px auto 200px;
    width: 700px;
    font-family: serif;
    font-size: 18px;
    line-height: 24px;
    background: #fcfcfc;
    color: black;

}
 main img { 

    float: right;
    vertical-align: middle;
    margin-left : 20px;
    height: 23%; 
    width: 23%;

} 

main p { 
    font-family: "Times New Roman", Times, serif;
    font: "";
    position: relative; 
    top : 30px;
    width: 800px;
    font-size: 18px;
    line-height: 1.5em;

}


.logo { 
    cursor: pointer
}

/* .nav__links { 
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
} */


ul.media_links::before { 
    content : 'before';
}

.media_links > li::after { 
    content : "after";
    position: absolute;
}

button  { 
    margin: 1rem;
}

.btn { 
    background-color: var(--backgrund_color);
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor : pointer;

    --backgrund-color:  #e3e3e3;
    --border-size: 2px;
    --accent-color: rgb(255, 17, 0);

}

.btn.media_link_button::before{
content : "";
position: absolute;
top:0;
bottom:0;
left:0;
right: 0;
z-index:  -1;
background-color: var(--accent-color);

transition: transform 300ms ease-in-out;
transform: scaleX(0);
transform-origin: left;
}

.btn.media_link_button:hover::before, 
.btn.media_link_button:focus:before{
transform: scaleX(1);

}
.btn.media_link_button{
transition: transform 300ms ease-in-out;
z-index: 1;
}

.btn.media_link_button:hover,
.btn.media_link_button:focus{
color: white;

}


/* Projects Code */

/* Add a gray background color with some padding */
.body_projects {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header_projects {
    padding: 30px;
    font-size: 20px;
    text-align: left;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.maincolumn_projects {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn_projects {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg_projects {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card_projects {
    background-color: white;
    padding: 20px;
    margin-bottom: 60px;
    outline: 1px solid black;
}

/* Add a card effect for articles  https://www.youtube.com/watch?v=ceNMP-aQkQ4 */
.card_projects:hover {
    background-color: white;
    padding: 20px;
    margin-bottom: 60px;
    outline: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


footer{

text-align: center;

}

